RewriteEngine On

# Deny access to files like .env and Composer in a way that does not reveal
# their existence (pass off to ClassicPress for 404 generation)
RewriteCond %{REQUEST_FILENAME} /\.env(\.example)?$ [OR]
RewriteCond %{REQUEST_URI} ^/composer\. [OR]
RewriteCond %{REQUEST_URI} ^/vendor(/|\?|$) [OR]
RewriteCond %{REQUEST_URI} ^/\.git [OR]
RewriteCond %{REQUEST_URI} ^/README.md
RewriteRule . /index.php [L]

# Deny access to .php files inside the wp-content dir
# Mostly exploit/probe attempts, but these legitimate requests will be blocked:
# /wp-content/plugins/mobile-menu/vendor/titan-framework/lib/iframe-font-preview.php?...
# https://stackoverflow.com/a/47139015
RewriteCond %{REQUEST_URI} ^(.*/)?wp-content/.*\.php$
RewriteRule . /index.php [L]

# Avoid revealing information about plugin/theme directories
RewriteCond %{REQUEST_URI} ^(.*/)?wp-content(/|$)
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule . /index.php [L]

# BEGIN ClassicPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END ClassicPress

# BEGIN 301 Redirects
RedirectMatch 301 ^/blog/\d{4}/\d{1,2}/\d{1,2}/(.*)$ /blog/$1
RedirectMatch 301 ^/blog/classicpress-for-business-professional-organization-websites/?$ /blog/why-choose-classicpress-for-your-business-professional-website-cms/
RedirectMatch 301 ^/blog/faqconc/how-to-revert-to-wp-498/?$ /faq/
RedirectMatch 301 ^/blog/tag/elementor-sticky/?$ /blog/
RedirectMatch 301 ^/download/?$ /get-classicpress/
RedirectMatch 301 ^/classicpress-roadmap/?$ /roadmap/
RedirectMatch 301 ^/faqs/?$ /faq/
RedirectMatch 301 ^/migrate/?$ /get-classicpress/
RedirectMatch 301 ^/our-mission/?$ /about/
# END 301 Redirects

# BEGIN 302 Redirects
RedirectMatch 302 ^/version/([^/]*)/?$ https://github.com/ClassicPress/ClassicPress-release/releases/tag/$1
# END 302 Redirects
